# /etc/ssh/sshd_config
# The parameters in this file will be added/updated to the sshd_config file.


# Allow TCP forwarding (needed for tunneling)
AllowTcpForwarding yes

# Maximum number of client alive messages which may be sent without receiving any messages back from the client
ClientAliveCountMax 100

# Sets a timeout interval in seconds (3000 secs = 50 minutes) after which if no data has been received from the client,
# sshd will send a message through the encrypted channel to request a response from the client
ClientAliveInterval 3000

# Allow remote hosts to connect to local forwarded ports
GatewayPorts yes

# Allow tun device forwarding for VPN tunnelling
PermitTunnel yes

# Send keepalive messages to maintain session
TCPKeepAlive yes

# Enable X11 graphical interface forwarding
X11Forwarding yes
